/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --light-color: #f3f3fe;
  --dark-color: #363636;
  --border-top-color: rgba(0, 0, 0, .1);
  --link-hover-color: rgba(255, 255, 255, .2);
  --title-font-family: 'Playfair Display', 'serif';
  --body-font-family: 'Poppins', 'sans-serif';
  --container-padding: 1.5rem;
  --section-vertical-spacing: 8rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-family);
  font-size: 1.6rem;
  line-height: 1.500;
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
}

/* HEADER */
.header {
  margin-bottom: 5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  position: relative;
}

.logo {
  font-family: var(--title-font-family);
  font-size: 3rem;
  font-weight: 600;
}

.navbar-buttons {
  display: flex;
  column-gap: .5rem;
  padding: 0 .5rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: .4rem;
  position: relative;
  z-index: 999;
}

.button {
  cursor: pointer;
}

.icon-button {
  width: 4rem;
  height: 4rem;
  display: flex;
}

.icon-button i {
  margin: auto;
}

.close-icon,
.theme-on {
  display: none;
}

.menu {
  position: absolute;
  right: 1.55rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: .8rem 1.5rem;
  border-radius: .4rem;
  z-index: -1;
  pointer-events: none;
  transform: scale(0);
  transform-origin: right;
  transition: transform .25s .25s cubic-bezier(1,0,0,1);
}

.list {
  display: flex;
  gap: 2.5rem;
}

.menu > .list {
  opacity: 0;
}

.menu > .list .list-link {
  text-transform: uppercase;
}

.list-link {
  font-size: 1.4rem;
  color: var(--light-color)
}

.list-link:hover,
.list-link:focus,
.scroll-top:hover,
.scroll-top:focus {
  opacity:  .7;
}

.list-link span {
  font-weight: bold;
}